<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SweetShopSuite">

    <test name="SweetShopTests">

        <classes>

            <class name="com.sweetshop.tests.LoginTest"/>

            <class name="com.sweetshop.tests.SweetsTest"/>

        </classes>

    </test>

</suite>