<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SweetShop Suite">

    <test name="All Modules Test">

        <classes>

            <class name="com.sweetshop.tests.LoginTest"/>
            <class name="com.sweetshop.tests.ProductTest"/>
            <class name="com.sweetshop.tests.BasketTest"/>
            <class name="com.sweetshop.tests.AccountTest"/>
            <class name="com.sweetshop.tests.NavigationTest"/>

        </classes>

    </test>

</suite>